/*---------------
    RESET
--------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/*---------------
    DEBUG
--------------- */

/* .debug header{
    background-color: #ADD8E6;
}

.debug .nav{
    font-size: 25px;
    border: 2px dashed black;
    background-color: #DAA520;
}

.debug .link{
    border-left: dashed black 3px;
    border-right: dashed black 3px;
}

.debug .download-container{
    background-color: #00008B;
}
.debug .download{
    background-color: #EE82EE;
    border: dashed 2px black;
}

.debug .col-b{
    background-color: #1E90FF;
    border: dashed 2px black;
}

.debug .col-s{
    background-color: #FFC0CB;
    border: dashed 2px black;
}

.debug .col-finale{
    background-color: #228B22;
    border: dashed 2px black;
}

.debug footer{
    background-color: #23272A;
}

.debug .row-footer{
    border: dashed 3px black;
}

.debug .column-f-first{
    background-color: #F08080;
    border-right: 3px dashed black ;
}

.debug .column-f{
    background-color: #20B2AA ;
    border: dashed 3px white;
}

.debug .row-info{
    background-color: #7FFFD4;
    font-size: 25px ;
}

.debug .col-info{
    background-color: #FFB6C1;
    border: dashed 3px black;
}

.debug .row-info-section{
    border-top:white solid 2px
} */

/*---------------
    COMMON
--------------- */

.button{
    border: none;
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;

}

h1{
    font-size: 40px;
}

h5{
    font-size: 17px;
    color: #4766BE;
}

/*---------------
    HEADER
--------------- */
header{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
}

.sec-nav{
    padding: 10px 15%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
}

.link{
    width: 70%;
}

.list a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.hlist{
    text-align: center;
}

.list{
    list-style: none;
}

.hlist li{
    display: inline-block;
    margin-left: 50px;
    
}


.download-container{
    display: flex;
    padding: 50px;

}

.download{
    max-width: 1400px;
    margin: auto;
    height: 400px;
    width: 900px;
    text-align: center;
    color: white;
    padding: 40px;
}

.login{
    background-color: white;
    width: 90px;
    height: 40px;
    text-align: center;
    padding: 20px;
    font-size: 17px;
    cursor: pointer;
}

.download p{
    margin-top: 30px ;
    line-height: 30px;
    margin-bottom: 15px;
}

.scarica{
    width: 160px;
    height: 40px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.open-browser{
    width: 240px;
    height: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-left: 20px;
    cursor: pointer;
}



/*---------------
    MAIN
--------------- */

.sec-main{
    display: flex;
    padding: 50px 16%;
    align-items: center;
}

.col-s p{
    margin-top: 15px;
    line-height: 30px;
}

.col-b{
    width: 100%;
}

.col-s{
    width: 800px;
}

.sec-main:nth-child(2n){
    background-color: #F6F6F6;
}

.sec-main.reverse{
    flex-direction: row-reverse;
}

.col-finale{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.col-finale img{
    min-width: 100%;
    min-height: 100%
}

.finale{
    flex-direction: column;
    text-align: center;
}

.finale p{
    margin-top: 15px;
    line-height: 30px;
}

.col-finale h1{
    font-size: 33px;
}

.col-finale .button{
    margin-top: 20px;
}

.sec-main button{
    margin-top: 30px;
    background-color: #7289DA;
    color: white;
    height: 36px;
    width: 130px;
    font-weight: bold;
}

.text{
    background-image: url(../img/stars.svg);
    width: 500px;
    background-size: 100%;
}

/*---------------
    FOOTER
--------------- */

footer{
    padding: 0px 16% 50px 16% ;
    background-color: #23272A;
}

.footer-section{
    padding-top:10px ;
}

.row-footer{
    display: flex;
    flex-direction: row; 
    align-items: flex-start;  
    margin-bottom: 40px; 
    margin-top: 40px;
}

.column-f-first{
    width: 25%;
}

.column-f{
    flex-grow: 1;
}

.row-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.column-f-first h1{
    color: #4766BE;
    font-size: 33px;
}

.column-f-first img{
    width: 20px;
    margin-top: 20px;
}

.vlist li{
    margin-top: 20px ;
}

.row-info-section{
    border-top: 1px solid #4766BE  ;

}

.registrati{
    background-color: #7289DA;
    color: white;
    height: 36px;
    width: 100px;
    font-weight: bold;
}








